@model System.Collections.Generic.IEnumerable<HatServer.Controllers.DateDeviceInfo>

@{
    ViewBag.Title = "The number of unique devices which run the app";
    Layout = "_Layout";
}

<h2>Drune</h2>


<table class="table" width="500">
    <thead>
    <tr>
        <th>
            Count
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateString)
            </td>
        </tr>
    }
    </tbody>
</table>